<a href="https://colab.research.google.com/github/Jaejuna/SpeedWagon/blob/main/dataextract/Data_extract(topic).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

In [3]:
train = pd.read_csv('/content/drive/MyDrive/BOAZ_miniProject2/train.csv')
valid = pd.read_csv('/content/drive/MyDrive/BOAZ_miniProject2/valid.csv')

In [4]:
print("Size of train data :", len(train))
print("Size of validation data :", len(valid))

Size of train data : 279992
Size of validation data : 35004

In [5]:
train['Topic'].unique()

array(['주거와생활', '시사교육', '상거래(쇼핑)', '개인및관계',
       '행사', '미용과건강', '일과직업', '식음료', '여가생활'],
      dtype=object)

In [6]:
# Topic 별 Dialogue 수
pd.DataFrame(train.groupby("Topic").count().iloc[:,0])

                 Text
Topic
개인및관계   71130
미용과건강   17069
상거래(쇼핑)  26298
시사교육       13119
식음료        30184
여가생활      35247
일과직업     20428
주거와생활    45179
행사           21338

In [7]:
pd.DataFrame(valid.groupby("Topic").count().iloc[:,0])

                Text
Topic
개인및관계   8892
미용과건강   2134
상거래(쇼핑)  3288
시사교육       1640
식음료        3773
여가생활      4407
일과직업     2554
주거와생활    5648
행사           2668

# Data extract
- 토픽 9개
- '개인및관계' 데이터 개수 가장 많기 때문에 우선 이 토픽으로만 데이터 추출!
  - train : 27993, 55986 개씩 추출
  - valid : 3496, 6992 개씩 추출
  - 랜덤으로 추출

## train data

In [18]:
df1 = train.loc[train['Topic']=='개인및관계'].sample(n=27993)
df2 = train.loc[train['Topic']=='개인및관계'].sample(n=55986)

In [20]:
print(len(df1))
print(len(df2))

27993
55986

## valid data

In [21]:
df3 = valid.loc[valid['Topic']=='개인및관계'].sample(n=3496)
df4 = valid.loc[valid['Topic']=='개인및관계'].sample(n=6992)

In [22]:
print(len(df3))
print(len(df4))

3496
6992

## save

In [23]:
df1.to_csv('/content/drive/MyDrive/BOAZ_miniProject2/train_new_topic1.csv', index = False)
df2.to_csv('/content/drive/MyDrive/BOAZ_miniProject2/train_new_topic2.csv', index = False)

In [24]:
df3.to_csv('/content/drive/MyDrive/BOAZ_miniProject2/valid_new_topic1.csv', index = False)
df4.to_csv('/content/drive/MyDrive/BOAZ_miniProject2/valid_new_topic2.csv', index = False)